album-browser {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 2.6fr 1fr;

    position: absolute;
    left: 3em;
    right: 3em;
    top: 6em;
    bottom: 6em;
}

album-browser #songs .artist {
    display: none;
}

@media (max-width: 710px) {
    album-browser {
        grid-template-columns: 1fr;

        left: 1em;
        right: 1em;
        top: 4em;
        bottom: 0;
    }

    album-browser list-section#songs {
        display: none;
    }

    album-browser.album-selected list-section#albums {
        display: none;
    }

    album-browser.album-selected list-section#songs {
        display: block;
    }
}